<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>articles</title>
    <th:block th:insert="skeleton/meta::head_meta"></th:block>
    <th:block th:insert="skeleton/bootstrap::botstrap_css-link"></th:block>
</head>
<body>
<h1>Article</h1>

<th:block th:insert="skeleton/link::link_main_page"></th:block>

<th:block th:insert="skeleton/message :: message_warning">message</th:block>

<div th:if="${article != null}">
    <ul th:object="${article}">
        <li th:text="*{id}"></li>
        <li th:text="*{date}"></li>
        <li th:text="*{title}"></li>
        <li th:text="*{author}"></li>
        <li th:text="*{text}"></li>
    </ul>
    <div th:if="${not #lists.isEmpty(article.comments)}">
        <ol th:each="comment : ${article.getComments()}" th:object="${comment}">
            <li th:text="*{id}"></li>
            <li th:text="*{author}"></li>
            <li th:text="*{date}"></li>
            <li th:text="*{text}"></li>
        </ol>
    </div>
</div>

<th:block th:insert="skeleton/bootstrap::bootstrap_js-link"></th:block>
</body>
</html>