<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Reviews</title>
    <th:block th:insert="skeleton/meta::head_meta"></th:block>
    <th:block th:insert="skeleton/bootstrap::botstrap_css-link"></th:block>
</head>
<body>
<h1>Reviews page</h1>

<th:block th:insert="skeleton/link::link_main_page"></th:block>

<th:block th:insert="skeleton/message :: message_warning">message</th:block>

<div th:if="${not #lists.isEmpty(reviews)}">
    <table>
        <thead>
        <th>id</th>
        <th>name</th>
        <th>date add</th>
        <th>text review</th>
        <th>is show</th>
        <th>delete</th>
        </thead>
        <tbody>
        <form action="#" th:action="@{/reviews/delete(page=${page})}" method="post">
            <tr th:each="review : ${reviews}" th:object="${review}">
                <td th:text="*{id}">id not found</td>
                <td th:text="*{author}">name not found</td>
                <td th:text="*{dateCreate}">date create not found</td>
                <td th:text="*{text}">text not found</td>
                <td>
                    <span th:if="*{isActive}">show</span>
                    <span th:unless="*{isActive}"> not show</span>
                </td>
                <td>
                    <input type="checkbox" th:value="*{id}" name="id">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="submit" value="delete">
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
<div th:unless="${not #lists.isEmpty(reviews)}">Reviews not found.</div>

<th:block th:insert="skeleton/link :: link_review_pagination">pagination</th:block>

<th:block th:insert="skeleton/bootstrap::bootstrap_js-link"></th:block>
</body>
</html>